.App {
  margin-top: 20px;
  margin:0;
  padding:0;
  max-width: 1600px;
  width: 100%;
  

}
h2 {
  color: white;
  font-size: 80px;
  letter-spacing: -.015em;
  font-family: "MyWebFont",sans-serif;

}