@font-face {
  font-family: 'MyWebFont';
  src: url('./fonts/sf-pro-display_regular.woff2') format('woff2'), /* Super Modern Browsers */
}

html {
  background: #161617;
  color: white;
}
body {
  margin: 0;
  font-family: "MyWebFont",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding:0;
}